# Ignorar la carpeta y archivos de compilacion
/node_modules
/dist
package-lock.json
/.codex

# Ignorar carpetas flatpak y de construcción
/.flatpak-builder
/build-dir

# Ignorar archivos de configuración
#config.json
#secrets.env

# Ignorar archivos temporales
*.tmp
*.log

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db