# Ignorar la carpeta node_modules
/node_modules
/dist

# Ignorar carpetas flatpak y de construcción
/.flatpak-builder
/build-dir

# Ignorar archivos de configuración
#config.json
#secrets.env

# Ignorar archivos temporales
*.tmp
*.log

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db