[Desktop Entry]
Name=ChatGPT
Comment=IAWrapper - ChatGPT
Exec=iawrapper --app=chatgpt
Terminal=false
Type=Application
Icon=com.jgomezbau.iawrapper.chatgpt
Categories=Utility;Network;Chat;
StartupWMClass=iawrapper-chatgpt
X-Flatpak=
