[Desktop Entry]
Name=Grok
Comment=AI Desktop Hub - Grok
Exec=AIDesktopHub --app=grok
Terminal=false
Type=Application
Icon=io.github.jgomezbau.AIDesktopHub.grok
Categories=Utility;Network;Chat;
StartupWMClass=AIDesktopHub-grok
X-Flatpak=
