[Desktop Entry]
Name=Grok
Comment=IAWrapper - Grok
Exec=iawrapper --app=grok
Terminal=false
Type=Application
Icon=io.github.jgomezbau.iawrapper.grok
Categories=Utility;Network;Chat;
StartupWMClass=iawrapper-grok
X-Flatpak=
