[Desktop Entry]
Name=Gemini
Comment=IAWrapper - Gemini
Exec=iawrapper --app=gemini
Terminal=false
Type=Application
Icon=io.github.jgomezbau.iawrapper.gemini
Categories=Utility;Network;Chat;
StartupWMClass=iawrapper-gemini
X-Flatpak=
