[Desktop Entry]
Name=Claude
Comment=IAWrapper - Claude
Exec=iawrapper --app=claude
Terminal=false
Type=Application
Icon=io.github.jgomezbau.iawrapper.claude
Categories=Utility;Network;Chat;
StartupWMClass=iawrapper-claude
X-Flatpak=
