[Desktop Entry]
Name=Claude
Comment=AI Desktop Hub - Claude
Exec=AIDesktopHub --app=claude
Terminal=false
Type=Application
Icon=io.github.jgomezbau.AIDesktopHub.claude
Categories=Utility;Network;Chat;
StartupWMClass=AIDesktopHub-claude
X-Flatpak=
