[Desktop Entry]
Name=DeepSeek
Comment=IAWrapper - DeepSeek
Exec=iawrapper --app=deepseek
Terminal=false
Type=Application
Icon=io.github.jgomezbau.iawrapper.deepseek
Categories=Utility;Network;Chat;
StartupWMClass=iawrapper-deepseek
X-Flatpak=
