[Desktop Entry]
Name=Gemini
Comment=AI Desktop Hub - Gemini
Exec=AIDesktopHub --app=gemini
Terminal=false
Type=Application
Icon=io.github.jgomezbau.AIDesktopHub.gemini
Categories=Utility;Network;Chat;
StartupWMClass=AIDesktopHub-gemini
X-Flatpak=
