[Desktop Entry]
Name=DeepSeek
Comment=AI Desktop Hub - DeepSeek
Exec=AIDesktopHub --app=deepseek
Terminal=false
Type=Application
Icon=io.github.jgomezbau.AIDesktopHub.deepseek
Categories=Utility;Network;Chat;
StartupWMClass=AIDesktopHub-deepseek
X-Flatpak=
