[Desktop Entry]
Name=ChatGPT
Comment=AI Desktop Hub - ChatGPT
Exec=AIDesktopHub --app=chatgpt
Terminal=false
Type=Application
Icon=io.github.jgomezbau.AIDesktopHub.chatgpt
Categories=Utility;Network;Chat;
StartupWMClass=AIDesktopHub-chatgpt
X-Flatpak=
