[Desktop Entry]
Name=Qwen
Comment=AI Desktop Hub - Qwen
Exec=AIDesktopHub --app=qwen
Terminal=false
Type=Application
Icon=io.github.jgomezbau.AIDesktopHub.qwen
Categories=Utility;Network;Chat;
StartupWMClass=AIDesktopHub-qwen
X-Flatpak=
