[Desktop Entry]
Name=Gemini
Comment=IAWrapper - Gemini
Exec=/opt/IAWrapper/iawrapper --app=gemini
Terminal=false
Type=Application
Icon=iawrapper-gemini
Categories=Utility;Network;Chat;
StartupWMClass=iawrapper-gemini
